@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(13, 31%, 94%);
}

body {
  margin: 0;
  box-sizing: border-box;
}